:root {
    --color: black;
    --color-border: #0005;
    --background-color: white;
    --color-link: #07b;
    --color-link-disabled: gray;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color: white;
        --color-border: #fff5;
        --background-color: #1b1920;
        --color-link: #0bf;
        --color-link-disabled: gray;
    }
}

html {
    background-color: var(--background-color);
    color: var(--color);
    font-family: 'Times New Roman', serif;
}

h1, h2, h3, h4, nav {
    font-family: 'Helvetica', sans-serif;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

body {
    margin-top: 0;
}

main > header {
    background-color: var(--background-color);
    border-bottom: 1px solid var(--color-border);
}

main > header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
}

main > header h1 {
    size: 2rem;
    margin: 0.5rem auto 0.5rem 0;
}

main > header a {
    text-decoration: none;
}

main > header > a {
    color: unset;
}

main > header a:hover,
main > header a:focus {
    text-decoration: underline;
}

main > header > nav {
    margin-left: auto;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    align-items: center;
}

main.index > nav {
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    justify-content: center;
}

main.index > section ol {
    list-style-type: none;
    padding: 0 0 0 0.5rem;
    gap: 1rem;
}

main.index > section li {
    padding-bottom: 1rem;
}

main.index > section li h1 {
    margin: 0 0 0.25rem 0;
    font-size: 1.2rem;
}

a {
    color: var(--color-link);
}

a:hover, a:focus {
    text-decoration: none;
}

a.disabled {
    color: var(--color-link-disabled);
}

article header {
    text-align: center;
}

article header h1 {
    font-size: 2em;
}

article {
    font-size: 1em;
}

article .article-body h1 {
    font-size: 1.8em;
}

article table,
article img {
    margin-left: auto;
    margin-right: auto;
}

article table {
    width: fit-content;
    max-width: 100%;
    display: block;
    overflow-x: scroll;
    margin: auto;
}

article table {
    border-collapse: collapse;
}

article table thead {
    border-bottom: 1px solid;
}

article table th,
article table td {
    padding: 0.1rem 1rem;
}
